<div id="transaction-form" style="display: none;">
  <%= form_tag("/transactions", method: "post", remote: true, id: "add-transaction", class: 'pure-form pure-form-aligned') do %>
  	<fieldset>
      <div class="pure-control-group">
        <%= label_tag(:description, "Description") %>
        <%= text_field_tag(:description, content = nil) %>
      </div>
      <div class="pure-control-group">
        <%= label_tag(:number, "Amount") %>
        <%= number_field_tag(:number, value = nil, options = {min: 0, step: 0.01}) %>
      </div>
      <div class="pure-control-group">
        <%= label_tag(:cash_flow, "Cash Flow") %>
        <%= radio_button_tag :cash_flow, :positive %> Positive
        <%= radio_button_tag :cash_flow, :negative %> Negative
      </div>
          <div class="pure-control-group">
        <%= label_tag("Date") %>
        <input type="date" name="date">
      </div>
      <div class="pure-control-group">
        <%= label_tag(:frequency, "Repeats") %>
        <%= select_tag(:frequency, options_for_select([['Not at all', :no_repeat], ["Daily", :daily], ["Weekly", :weekly], ["Monthly", :monthly], ["Annually", :annually]])) %><br><br>
      <div class="pure-control-group">
        <%= label_tag(:num_times, "How Many Times") %>
        <%= number_field_tag(:num_times, value = nil, options = {min: 1, step: 1}) %>
      </div>
      <div class="pure-controls">
        <%= submit_tag("Add Transaction!", class: "pure-button pure-button-primary") %>
      </div>
    </fieldset>
  <% end %>
</div>