<div class="centered">
  <section id="chart"></section>


  <div class="centered">
    <h1 class="centered"> Add A Transaction </h1>

    <%= render "add_transaction" %>
    <div id="list-container">

    </div>
  </div>
</div>