<div class="centered wide top">
  <section id="chart"></section>


  <div class="centered">
    <h1 id="add-form" class="centered thin pure-button button-xlarge pure-button-primary"> Add A Transaction </h1>

    <%= render "add_transaction" %>
    <div class="centered" id="list-container">

    </div>
  </div>
</div>