<!DOCTYPE html>
<html>
<head>
  <title>Forecash</title>
  <meta name="viewport" content="width=device-width">
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  <script src="http://code.highcharts.com/highcharts.js"></script>
  <link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.5.0/base-min.css">
  <!-- <link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.5.0/pure-min.css"> -->
</head>
<body>

<%= yield %>

</body>
</html>
